.skills {
  text-align: center;
  background-color: rgb(62, 14, 9);
  height: 70vh;
}

.tech-container {
  margin: 2%;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
}
.tech-box {
  display: flex;
  justify-content: space-around;
}

.tech-name {
  font-size: 1.25rem;
  margin: 0 auto 0 5%;
}

.tech-logo {
  height: 50px;
}

.school {
  padding: 2%;
  margin: 2%;
  display: grid;
  grid-template-columns: auto;
  grid-row: 20% 5% 55%;
  border: solid 1px black;
}

.school-name {
  margin: 0;
  grid-area: 1/ 1 / 2/ 3;
}

.school-dates {
  margin: 1%;
  grid-area: 2/ 1 / 3/ 3;
}

.school-details {
  grid-area: 3/ 1 / 3/ 3;
}