.skills {
  text-align: center;
  background-color: hsla(0, 0%, 96%, 0.2);
  width: 100%;
  /* height: auto; */
  /* min-height: 100%; */
}

.tech-container {
  margin: 2%;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  background-color: hsla(0, 0%, 96%, 0.8);
}

.tech-box {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.tech-name {
  margin: 0 auto 0 5%;
}

.tech-logo {
  height: 50px;
}

.edu-container {
  background-color: hsla(0, 0%, 96%, 0.8);
}

.school {
  padding: 2%;
  margin: 2%;
  display: grid;
  grid-template-columns: auto;
  grid-row: 20% 5% 55%;
  border: solid 1px black;
}

.school-name {
  margin: 0;
  grid-area: 1/ 1 / 2/ 3;
}

.school-dates {
  margin: 1%;
  grid-area: 2/ 1 / 3/ 3;
}

.school-details {
  grid-area: 3/ 1 / 3/ 3;
}

@media screen and (max-width: 600px) {
  .tech-box {
    display: grid;
    margin: 2%;
    grid-template-columns: repeat(2, 1fr);
  }

  .skills {
    /* height: 100vh; */
    /* min-height: 100%; */
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .skills {
    /* height: 80vh;
    min-height: 100%; */
  }
}