.skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  grid-area: 2 / 1 / 4/ 2;
}

.tech-container {
  margin: 2%;
  display: grid;
  grid-template-columns: auto;
  grid-row: repeat(2, 1fr);
  border: solid 1px black;
  grid-area: 1 / 1 / 2 / 2;
}

.tech-name {
  font-size: 1.5rem;
  margin: 0;
}

.edu-container {
  grid-area: 2 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5% 45% 45%;
}

.school {
  padding: 2%;
  margin: 2%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-row: 40% 60%;
  border: solid 1px black;
}

.school-name {
  grid-area: 1/ 1 / 2/ 3;
}

.school-dates {
  grid-area: 2/ 1 / 3/ 2;
}

.school-details {
  grid-area: 2/ 2 / 3/ 3;
}