.header-container {
  color: black;
  background-color: hsla(0, 0%, 96%, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: 1 / 1 / 2 / 3;
}

.contact, nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact {
  background-color: whitesmoke;
  text-decoration: none;
}

.nav {
  text-decoration: none;
  width: 25%;
  padding: 2%;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  color: antiquewhite;
  box-shadow: 0px -4px 10px 5px rgba(0,0,0,0.5);
  transition: 200ms;
}

.nav:hover {
  transition: 200ms;
  box-shadow: 0px -4px 10px 1px rgba(0,0,0,0.5);
}

.edu {
  background-color: rgb(210, 210, 210);
  color: black;
}

.projects {
  background-color: whitesmoke;
  color: black;
}

.history {
  background-color: rgb(172, 171, 171);
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.contact-deet {
  margin: 1%;
  padding: 2%;
  border-radius: 5px;
  transition: 200ms;
}
.contact-deet:hover {
  background-color: rgb(210, 210, 210);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  transition: 200ms;
}

@media screen and (max-width: 600px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .contact-deet {
    margin: 0%;
    padding: 0%;
  }
}