body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #002460;
  background-image: url("./camping.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 100vh;
}

p {
  font-size: 1.25rem;
}


@media screen and (max-width: 600px) {
  p {
    font-size: 1rem;
  }
}